@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
@import url('general.css');
@import url('components.css');

body{
	background: #eee url(../img/bg2.png) repeat;
}
body.fixed{
	padding-top: 5.3rem; 
}

/*HEADER MASTER*/
header.headerMaster{
	padding: 0;
	height: 10.2rem;
	position: relative;
	z-index: 10;
	margin-top:-.3rem;
	background: url(../img/headerBg.png) top repeat-x;
}
header.headerMaster .logo > img{
	height: 7rem;
	position: relative;
	top: 1.5rem;
}
header .mobileNavBtn{
	display: none;
}
header .slogan{
	font-weight: 400;
	text-align: right;
	position: relative;
	top: 2.3rem;
	color: #333;
	font-size: 2.735rem;
	letter-spacing: 0rem;
	text-shadow:.1rem .1rem .1rem rgba(255,255,255,1);
}
/*NAVIGATION*/
nav{
	background: -webkit-linear-gradient(#739292, #5b8185);
	background: -o-linear-gradient(#739292, #5b8185);
	background: linear-gradient(#739292, #5b8185);
	position: relative;
	z-index: 8;
	border-top: .2rem solid #6CDCDF;
	width: 100%;
	box-shadow: 0 .1rem .3rem rgba(0,0,0,.5);
}
nav.fixed{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100%;
	display: block;
}
nav ul{
	font-size: 0;
}
nav ul li{
	display: inline-block;
	border-right: .1rem solid rgba(255,255,255,.2);
	border-left: .1rem solid rgba(0,0,0,.2);
}
nav ul li a{
	font-size: 1.535rem;
	color: #eee;
	display: block;
	padding: 1.5rem 2rem;
	text-shadow:.1rem .1rem .1rem rgba(0,0,0,.2);
}
nav ul li:first-child a{
	padding-left: 0;
}
nav ul li:first-child{
	border-left: 0;
}
nav ul li:last-child{
	border-right:0;
}
nav ul li:hover a,
nav ul li a:hover,
nav ul li a:active,
nav ul li a:focus{
	color: #6CDCDF;
}
nav ul li a i{
	position: relative;
	display: inline-block;
	margin-right: 1.2rem;
	color: #6CDCDF;
}
nav .phones h3{
	font-size: 1.8rem;
	text-align: right;
	margin: 0;
	position: relative;
	top: 1.5rem;
	color: #eee; 
	text-shadow:.1rem .1rem .1rem rgba(0,0,0,.2);
}
nav .phones h3 i{
	position: relative;
	display: inline-block;
	margin-left: 1.2rem;
	font-size: 2rem;
	color: #fff;
	vertical-align: middle;
	top: -.2rem;
}
nav .phones span{
	color: #FFE83B;
	font-weight: 400;
}


/*SLIDER*/
.slider{
	padding: 0;
	background: #333;
	position: relative;
	overflow: hidden;
}

.carousel--control,
.carousel--control:hover,
.carousel--control:focus,
.carousel--control:active,
.carousel--control:visited{
	position: absolute;
	z-index: 50;
	font-size:4rem;
	top: 50%;
	margin-top: -2rem;
	left: 50%;	
	color: #fff;
	opacity: .6;
}
.carousel--control:hover{
	opacity: 1;
}
.carousel--control.prev{
	margin-left: -55rem;
}
.carousel--control.next{
	margin-left: 53.5rem;
}

@-webkit-keyframes sliderbg{
	0%{
		-webkit-transform:scale(1);
		-o-transform:scale(1);
		transform:scale(1);
	}
	100%{
		-webkit-transform:scale(1.3);
		-o-transform:scale(1.3);
		transform:scale(1.3);
	}	
}
@keyframes sliderbg{
	0%{
		-webkit-transform:scale(1);
		-o-transform:scale(1);
		transform:scale(1);
	}
	100%{
		-webkit-transform:scale(1.2);
		-o-transform:scale(1.2);
		transform:scale(1.2);
	}	
}
.slider:after{
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-image: url(../img/sliderPatternMap.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
	opacity: .1;
	/*-webkit-animation: sliderbg 20s linear infinite alternate;
	-o-animation: sliderbg 20s linear infinite alternate;
	animation: sliderbg 20s linear infinite alternate;*/
}
.slider .carousel{
	position: relative;
	z-index: 4;
	background: #222;
	box-shadow: 0 .1rem 1rem rgba(0,0,0,.5);
}
.slider .item{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color:#222; 
}
.slider .item .description{
	position: relative;
	bottom: 0;
	width: 100%;
	left: 0;
	background: #2F3842;
	padding: 1rem 1.5rem;
	margin-top:-2rem;
	overflow: hidden;
}
.slider .item .description h1{
	color: #4AC5B2;
	font-size: 2.235rem;
	margin: 0 0 1rem 0;
	display: inline-block;
	text-transform: uppercase;
	text-shadow:.1rem .1rem .2rem rgba(0,0,0,.4);
	position: relative;
}
.slider .item .description h1:before{
	content: '';
	height: .1rem;
	width: 102.4rem;
	background: #4AC5B2;
	position: absolute;
	right:calc(100% + 1rem);
	top:calc(50%);
	opacity: .2;
}
.slider .item .description h1:after{
	content: '';
	height: .1rem;
	width: 102.4rem;
	background: #4AC5B2;
	position: absolute;
	top:calc(50%);
	margin-left: 1rem;
	opacity: .3;
}
.slider .item .description h1:first-letter{
	text-transform: uppercase;
}
.slider .item .description p{
	margin: 0;
	color: #fff;
	font-size: 1.535rem;
}
.slider .carousel-control{
	z-index: 5;
}


/*DOWNLOAD REQUEST FORM*/
.downloadRequest{
	padding: 0;
	margin: 0;
	height: 8.1rem;
	background: url(../img/downloadPdfBg.png) repeat-x top;
	border-bottom: .1rem solid #fff;
}
.downloadRequest h2{
	margin: 0;
	position: relative;
	top: 2.8rem;
	font-size: 1.935rem;
	color: #4B5F5F;
	font-weight: 400;
	text-transform: uppercase;
}
.downloadRequest h2 i:first-child{
	color: #2E7A6E;
	font-size: 2.635rem;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-right: 1rem;
	top: -.2rem;
}
.downloadRequest h2 i:last-child{
	font-size: 1.435rem;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -.2rem;
	margin-left: 1.3rem;
}
.requestPdfBtn,
.requestPdfBtn:hover,
.requestPdfBtn:active,
.requestPdfBtn:visited,
.requestPdfBtn:focus{
	position: relative;
	top: 1.8rem;
	display: inline-block;
	height: 4rem;
	background: #479092;
	color: #fff;
	line-height: 4rem;
	font-size: 1.5rem;
	padding: 0 2rem;
	border-radius: .3rem;
}
.requestPdfBtn:hover{
	color: #fff;
	background: #4BAEB1;
}
.requestPdfBtn i{
	margin-right: 1rem;
}

.alert{
	font-size: 1.4rem;
}

.sending--msg{
	display:none; 
	font-size: 1.4rem; 
	margin-left: 1rem;
}
.sending--msg.active{
	display: inline-block;
}

/*SERVICIOS EN HOME*/
.servicesHome{
	padding: 3.5rem 0 0 0;
}
.serviceCard{
	background: #f6f6f6;
	overflow: hidden;
	margin-bottom: 3.5rem;
	box-shadow: 0 0rem .5rem rgba(0,0,0,.3);
	cursor: pointer;
}

.serviceCard .thumb{
	position: relative;
	height: 21rem;
	overflow: hidden;
	margin-bottom: 1.3rem;
	display: block;
}

.serviceCard .thumb:before{
	content: '';
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: transform .7s ease;
	-o-transition: transform .7s ease;
	transition: transform .7s ease;
}
.serviceCard:hover .thumb:before{
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.serviceCard .thumb[data-thumb="1"]:before{
	background-image: url(../img/services/investigation2.jpg);
}
.serviceCard .thumb[data-thumb="2"]:before{
	background-image: url(../img/services/executive-protection.png);
}
.serviceCard .thumb[data-thumb="3"]:before{
	background-image: url(../img/services/consulting.png);
}
.serviceCard .thumb[data-thumb="4"]:before{
	background-image: url(../img/services/tactical.jpg);
}
.serviceCard .thumb[data-thumb="5"]:before{
	background-image: url(../img/services/training.jpg);
}
.serviceCard .thumb[data-thumb="6"]:before{
	background-image: url(../img/services/geolocation.jpg);
}

.serviceCard .thumb:after{
	content: '';
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0));
	background: -o-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0));
	background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0));
	top: 0;
	left: 0;
	position: absolute;
	opacity: .7;
}

.serviceCard header{
	padding: 1.3rem 1rem;
	position: absolute;
	top: 1rem;
	z-index: 5;
}
.serviceCard header h2{
	font-weight: 400;
	margin: 0;
	color: #eee;
	font-size: 2.135rem;
	text-shadow:0 .1rem .2rem rgba(0,0,0,.4);
}
.serviceCard header p{
	color: #fff;
	font-size: 1.4rem;
	line-height: 1.8rem;
	overflow: hidden;
	opacity: 0;
	margin: 1.5rem 0 0 0;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}
.serviceCard:hover header p{
	opacity: 1;
	height: 5.4rem;
}
.serviceCard .description{
	position: relative;
	margin: 0;
	padding: 0 1rem;
}
.serviceCard .description ul li{
	display: block;
	border-bottom: .1rem solid #ccc;
	font-size: 1.435rem;
	padding: 1rem 1rem;
	margin: 0 -1rem;
	color: #222;
}
.serviceCard .description ul li:last-child{
	border: 0;
}
.serviceCard .description ul li i{
	font-size: .8rem;
	margin-right: .7rem;
	color: #479092;
	opacity: .4
}
.serviceCard .description ul li small{
	font-size: 1.2rem;
	color: #479092;
}
.serviceCard footer{
	background: #479092;
	padding:1rem .6rem;
	margin-top: 1.3rem;
	text-align: right;
}
.serviceCard footer .customBtn{
	padding: .3rem 1rem;
	margin-right: 1rem;
}

/*CLIENTS*/
#clientsProteus{
	margin:0;
}
#clientsProteus .item{
	padding: 1rem .3rem;
}
#clientsProteus img{
	width: 100%;
	background: #fff;
	border-radius: .4rem;
	box-shadow: 0 0 .3rem rgba(0,0,0,.2);
}
.clients{
	margin-top: 1rem;
	background: #f1f1f1;
	padding: 3rem 0;
	border-top: .1rem solid #ccc;
}
.clients .title{
	margin: 0;
}
.allClientsBtn{
	font-size: 1.4rem;
	color: #739292;
}


/*FOOTER MASTER*/
footer.darkSection{
	margin-top: 0;
	padding: 4rem 0 4rem 0;
	border-top: .2rem solid #6CDCDF;
}
footer.footer--master{
	margin-top: 5rem;
	padding: 4rem 0 4rem 0;
	background: #222;
}
footer h2{
	margin: 0;
}
footer h3{
	margin: .3rem 0 0 0;
	color: #fff;
	text-shadow:.1rem .1rem .1rem rgba(0,0,0,.2);
}
footer .logo{
	margin: -1rem 0 1.5rem 0;
}
footer form.suscription{
	background: transparent;
	border: 0;
	padding: 0;
	margin: 0;
	position: relative;
	margin-top: -1.6rem;
}
footer form.suscription label{
	color: #CEED58;
	font-weight: 400;
}
footer form.suscription input{
	margin: 0;
}
footer form.suscription button{
	position: absolute;
	bottom: .2rem;
	right: .2rem;
	border-radius: .2rem;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border: 0;
	height: 3.6rem;
	padding: 0 2rem;
	background: #479092;
}


/*Interior Content*/
.pageTitle{
	background: #ddd;
	height: 8.1rem;
	background: #eee;
	overflow: hidden;
	border-bottom: .1rem solid #ccc;
}
.pageTitle h1{
	color: #4B5F5F;
	margin: 0;
	position: relative;
	top: 2.8rem;
	font-size: 2.335rem;
	font-weight: 400;
	letter-spacing: 0rem;
}
.pageTitle .requestPdfBtn{
	position: relative;
	float: right;
	top: 1.5rem;
}
.pageTitle .requestPdfBtn img{
	width: 100%;
}

.interiorContent .content{
	padding-top: 3rem;
}

.interiorContent .content form{
	margin-top: 0;
}

.interiorContent .content p{
	font-size: 1.8rem;
	line-height: 2.7rem;
}

.interiorContent .content .thumb{
	width: 30rem;
	float: left;
	margin-right: 2.4rem;
}

.interiorContent .content ul{
	margin: 3rem 0 0 0;
}

.interiorContent .content ul li{
	font-size: 1.573rem;
	letter-spacing: 0rem;
	margin-bottom: .6rem;
	overflow: hidden;
	background: rgba(255,255,255,.6);
	padding: 1rem;
	border-radius: .3rem;
	border: .1rem solid #ccc;
}

.interiorContent .content hr{
	background: #ccc;
	margin: 3rem 0;
}

.interiorContent aside{
	background: #f5f5f5;
	width: 100%;
	top: 0;
	height: 100%;
	position: fixed;
	z-index: -1;
	margin-left: -1.5rem;
	box-shadow: 0 0 .3rem rgba(0,0,0,.3);
}

.allServices{
	padding-top: 2rem;
	border-top: .2rem solid #ccc;
	margin-top: 2rem;
}

.newsTitle{
	position: relative;
	margin: 3rem 0 0 0;
	font-size: 3rem;
}

.newsRss{
	margin-top: 3rem;
}

.newsRss .itemTitle a{
	font-size: 1.935rem;
	color: #333;
	letter-spacing: 0;
	line-height: 2.7rem;
}

.newsRss .itemDate{
	font-size: 1.2rem;
	letter-spacing: .08rem;
	margin-bottom: 1rem;
	font-weight: 700;
	color: #479092;
}

.newsRss .itemContent{
	font-size: 1.6rem;
	letter-spacing: .08rem;
	line-height: 2.3rem;
}

.newsRss li{
	margin-bottom: 1.5rem;
	border-bottom: .1rem solid #aaa;
	padding-bottom: 1rem;
}
.newsRss li:last-child{
	border: 0;
}

.allServices{
	margin-bottom: 3rem;
}
.allServices h1{
	margin-bottom: 3rem; 
}
.allServices img{
	width: 10rem;
	border-radius: .4rem;
	margin-right: 1rem;
}
.allServices h3{
	font-size: 1.7rem;
	font-weight: 400;
	position: relative;
	top: 1.5rem;
}

.allServices .row{
	margin: 0;
}
.allServices .row > [class*="col-"]{
	padding: 0 0 1rem 0;
	margin-bottom: 1.5rem;
	border-bottom: .1rem solid #ccc;
}

.thumb_intranet{
	height: 115px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 30px;
}

@media screen and (max-width: 768px){

	/*HEADER MASTER*/
	header.headerMaster{
		padding: 0;
		height: auto;	
		position: relative;
		z-index: 10;
		background: url(../img/headerBg.png) top repeat-x;
	}
	header.headerMaster .logo > img{
		height: 6rem;
		position: relative;
		top: 1rem;
	}
	header .slogan{
		font-weight: 400;
		text-align: center;
		position: relative;
		top: 2.5rem;
		color: #333;
		font-size: 2.735rem;
		letter-spacing: -.1rem;
		text-shadow:.1rem .1rem .1rem rgba(255,255,255,1);
	}
	header .slogan{
		text-align: center;
		font-size: 1.835rem;
		top: 0;
		margin: 2.4rem -1.5rem 0 -1.5rem;
		background: #fff;
		display: block;
		padding: 1rem 1.5rem;
	}
	header .mobileNavBtn{
		font-size: 3.6rem;
		float: right;
		position: relative;
		top: 1.9rem;
		color: #479092;
		display: inline-block;
	}
	nav ul{
		display: none;
	}
	nav ul.mobileNav{
		display: block;
	}
	nav ul li{
		display: block;
		border: 0;
		border-bottom: .1rem solid rgba(255,255,255,.4); 
	}
	nav ul li a{
		padding: 1rem 0;
		text-align: center;
	}
	nav ul li a i{
		display: none !important;
	}
	nav .phones h3{
		font-size: 1.4rem;
		top: 0;
		display: block;
		text-align: center;
		padding: 1.5rem 0;
	}
	nav.fixed{
		position: relative;
	}
	.slider{
		background: rgba(75,95,95,1);
	}
	.slider .carousel{
		background: rgba(75,95,95,1);	
	}
	.slider .container{
		padding: 0;
		background: rgba(75,95,95,1);
	}
	.slider .item .description{
		position: relative;
		bottom: 0;
		width: 100%;
		left: 0;
		background: rgba(75,95,95,1);
		padding: 1.5rem 2rem;
		text-align: center;
	}
	.slider .item .description h1{
		font-size: 1.835em;
		margin: 0 0 .7rem 0;
	}
	.slider .item .description p{
		margin: 0;
		color: #fff;
		font-size: 1.2rem;
		line-height: 2.4rem;
		overflow: hidden;
	}
	.downloadRequest{
		height: auto;
		background: #e4e4e4;
		background-position: bottom;
		text-align: center;
	}
	.downloadRequest h2{
		margin: 0;
		display: block;
		padding: 1.5rem 0;
		top: 0;
		font-size: 1.6rem;
	}
	.downloadRequest .requestPdfBtn{
		top: 0;
		margin-bottom: 1rem;
	}
	.clients{
		padding: 1rem 0;
	}
	.serviceCard .thumb{
		position: relative;
		height: 15rem;
		overflow: hidden;
		margin-bottom: 1.3rem;
		display: block;
	}
	.serviceCard .description ul li{
		padding: .7rem 1rem;
		display: block;
	}
	footer{
		text-align: center;
		padding: 0;
	}
	footer .suscription{
		margin: 0 0 1.5rem 0;
		top: 0;
		margin-top: 0;
	}
	footer h3,
	footer h2{
		margin: 0;
	}
	footer .logo{
		margin: 2rem 0;
	}
	.pageTitle{
		padding: 1rem 0;
		height: auto;
		background: #ddd;
		text-align: center;
	}
	.pageTitle h1{
		font-size: 2.335rem;
		top: 0;
		text-align: center;
	}
	.pageTitle .requestPdfBtn{
		top: 0;
		margin-top: 0;
		margin-bottom: 1.5rem;
		float: none;
		display: inline-block;
		width: 90%;
		text-align: center;
	}
	.interiorContent .content{
		text-align: center;
	}
	.interiorContent .content .thumb{
		width: 100%;
		float: none;
		margin-right: 2.4rem;
		margin-bottom: 2rem;
	}
	.interiorContent .content p{
		font-size: 1.6rem;
	}
	.interiorContent .content ul li{
		font-size: 1.6rem;
		letter-spacing: 0rem;
		margin-bottom: 1rem;
		overflow: hidden;
		border-bottom: .1rem solid #ccc;
		padding: 0 0 1.5rem 0;
	}
	.interiorContent .content ul li:before{
		display: none;
	}
	.allServices{
		text-align: left;
	}
	.allServices .row{
		margin: 0;
	}
	.allServices .row > [class*="col-"]{
		padding: 0 0 1rem 0;
		margin: 0 -1.5rem;
		background: #fff;
		border: 0;
		border-bottom: .1rem solid #ddd;
		padding: 1rem;
	}
	.allServices .row > [class*="col-"]:first-child{
		border-top: .1rem solid #ddd;
	}
	form header{
		padding: 1rem;
	}	
	form header p{
		font-size: 1.4rem !important;
		margin: 0;
	}
	
	.newsRss .itemTitle a{
		font-size: 1.8rem;
		color: #333;
		letter-spacing: 0;
		line-height: 2.3rem;
	}

	.newsRss .itemDate{
		font-size: 1.2rem;
		letter-spacing: .08rem;
		margin-bottom: 1rem;
		font-weight: 700;
		color: #479092;
	}

	.newsRss .itemContent{
		font-size: 1.4rem;
		letter-spacing: .08rem;
		line-height: 2rem;
	}

	.newsRss li{
		margin-bottom: 1.5rem;
		border-bottom: .1rem solid #aaa;
		padding-bottom: 1rem;
	}
}