/*LOGO*/
.componentsLogo{
	height: 6.5rem;
	margin: 6rem 0 3rem 0;
}

/*BOTONES*/

.customBtn{
	color: #6CDCDF;
	background: #4B5F5F;
	display: inline-block;
	padding: 1rem 2.5rem 1.1rem 2.5rem;
	border-radius: .4rem; 
	font-size: 1.335rem;
	border-bottom: .2rem solid #394b4b;
	position: relative;
}
.customBtn:hover,
.customBtn:active,
.customBtn:focus{
	color: #fff;
}
.customBtn i{
	display: inline-block;
	vertical-align: middle;
	margin-left: 2rem;
	color: #CEED58;
	-webkit-transform:translateX(0);
	-o-transform:translateX(0);
	transform:translateX(0);
	-webkit-transition: transform .2s ease;
	-o-transition: transform .2s ease;
	transition: transform .2s ease;
}
.customBtn:hover i{
	-webkit-transform:translateX(.4rem);
	-o-transform:translateX(.4rem);
	transform:translateX(.4rem);
}

/*BOTON PRIMARIO*/

.customBtn.primary{
	background: #6CDCDF;
	color: #4B5F5F;
	border-bottom: .2rem solid #5bb0b2;
}
.customBtn.primary:hover{
	color: #224546;
}
.customBtn.primary i{
	color: #2E7A6E;
}

/*BOTON MINI*/

.customBtn.mini{
	font-size: 1.2rem;
	padding: .6rem 1rem .8rem 1rem; 
}
.customBtn.mini i{
	margin-left: .5rem;
}
.customBtn.mini:hover i{
	-webkit-transform:translateX(.2rem);
	-o-transform:translateX(.2rem);
	transform:translateX(.2rem);
}

/*BOTON LARGE*/
.customBtn.large{
	font-size: 1.635rem;
	padding: 1.5rem 3rem 1.7rem 3rem; 
}
.customBtn.large i{
	margin-left: 3rem;
}
.customBtn.large:hover i{
	-webkit-transform:translateX(.7rem);
	-o-transform:translateX(.7rem);
	transform:translateX(.7rem);
}

/*BOTON BLOCK*/
.customBtn.block{
	display: block;
	text-align: center;
}

/*BLOCKQUOTE*/
blockquote{
	border-color: #6CDCDF;
}
blockquote footer{
	color: #739292;
}

/*FORMULARIOS*/

form{
	background: #f6f6f6;
	border:.2rem solid #ccc;
	padding: 2rem; 
	border-radius: .6rem;
	margin: 3rem 0;
	overflow: hidden;
}
form header{
	background: #fff;
	border-bottom: .1rem solid #ccc;
	margin: -2rem -2rem 2rem -2rem;
	padding: 1.5rem 2rem 1rem 2rem;
	color: #4B5F5F; 
}
form header > p{
	font-size: 1.835rem;
}
form label{
	display: block;
	font-size: 1.335rem;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 1rem 0;
}
form label:before{
	content: '- ';
}
form label:after{
	content: ' -';
}
form input,
form textarea{
	margin: 0 0 1.5rem 0;
	width: 100%;
	border-radius: .4rem;
	border:.2rem solid #ccc;
	padding: 0 1rem;
	font-size: 1.435rem;
	box-shadow: none;
	outline: none;
}
form input{
	height: 4rem;
}
form textarea{
	height: 8rem;
	resize:none;
	padding: 1rem;	
}
form input:focus,
form textarea:focus{
	border-color: #6CDCDF;
	box-shadow: none;
	outline: none;
}
form footer{
	padding: 1.3rem 2rem;
	background: #fff;
	margin: 2rem -2rem -2rem -2rem;
	border-top: .1rem solid #ccc;
}

/*DARK SECTION*/
.darkSection{
	background: #4B5F5F;
	padding: 5rem 0;
	margin-top: 6rem;
	color: #eee;
}

/*DARK SECTION TEXT0*/
.darkSection h1{
	color: #eee;
}
.darkSection h2{
	color: #6CDCDF;
}
.darkSection small{
	color: #6CDCDF;
}

/*DARK SECTION BOTONES*/
.darkSection .customBtn{
	background: #739292;
	color: #eee;
	border-color:#455656; 
}
.darkSection .customBtn.primary{
	background: #479092;
	color: #eee;
	border-color:#335859;
}
.darkSection .customBtn:hover,
.darkSection .customBtn.primary:hover{
	color: #6CDCDF;
}

/*DARK SECTION BLOCKQUOTE*/
.darkSection blockquote{
	border-color: #479092;
}
.darkSection blockquote footer{
	color: #6CDCDF;
}

/*DARK SECTION HR*/
.darkSection hr{
	background-color: #637979;
}

/*DARK SECTION FORM*/
.darkSection form{
	background: #a1b9b9;
	border-color: #798f8f;
}
.darkSection form header{
	background: #667b7b;
	color: #eee;
	border: none;
}
.darkSection form input,
.darkSection form textarea{
	background: #bdd2d2;
	border-color: #889f9f;
	color: #224546;
}
.darkSection form input:focus,
.darkSection form textarea:focus{
	border-color: #479092;
}
.darkSection form input::-webkit-input-placeholder, 
.darkSection form textarea::-webkit-input-placeholder{
   color: #224546;
}
.darkSection form input:-moz-placeholder,
.darkSection form textarea:-moz-placeholder{
   color: #224546;  
}
.darkSection form input::-moz-placeholder,
.darkSection form textarea::-moz-placeholder{
   color: #224546;  
}
.darkSection form input:-ms-input-placeholder,
.darkSection form textarea:-ms-input-placeholder{  
   color: #224546;  
}
.darkSection form label{
	color: #224546;
}
.darkSection form footer{
	background: #b7cccc;
	border: none;
}