@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html, body{
	height: 100%;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	color: #222;
}
p{
	font-size: 1.6rem;
	letter-spacing: .07rem;
	line-height: 2.5rem;
}
small{
	font-size: 1.445rem;
	font-weight: 400;
	color: #739292;
}
h1, h2, h3{
	letter-spacing: .05rem;
	font-family: 'Open Sans', sans-serif;
}
h1{
	font-size: 2.935rem;
	color: #444;
	margin: 2rem 0 2rem 0;
	text-transform: uppercase;
}
h2{
	font-size: 2.235rem;
	color: #479092;
	margin: 2rem 0 2rem 0;
	text-tranform: uppercase;
}
a,
a:hover,
a:focus,
a:active,
a:visited{
	outline: none;
	text-decoration: none;
}

hr{
	height: .2rem;
	background: #eee;
	border:none;
	box-shadow: none;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	max-width: 107rem;
}

.w-100{
	width: 100%;
}

.mb-4{
	margin-bottom: 4rem;
}

.row.sm{
	margin: 0 -.4rem;
}
.row.sm > [class*="col-"]{
	padding: 0 .4rem;
}

/*CAROUSEL FADE*/
.carousel-fade .carousel-inner .item{
  opacity: 0;
  -webkit-transition: opacity .7s ease;
  -o-transition: opacity .7s ease;
  transition: opacity .7s ease;
}

.carousel-fade .carousel-inner .item.active{
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right{
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right{
  opacity: 1;
}

.carousel-fade .carousel-control {
	z-index: 2;
}


/*

COLORES BASADOS EN LOGO DE PROTEUS

dark1  --- #224546
dark2  --- #4B5F5F
dark3  --- #739292
light1 --- #479092
light2 --- #6CDCDF

*/